/* You can add global styles to this file, and also import other style files */
/* En el archivo de estilos principal de la aplicación (styles.css) */
@font-face {
  font-family: 'valorant';
  src: url(assets/Valorant\ Font.ttf);
}

html, body {
    margin: 0;
    padding: 0;
    height: 100%;
    background-color: var(--black-pearl-700);
  }
  
  app-root {
    display: block;
    height: 100%;
  }
  

  /* global-styles.css */

:root {
  --black-pearl-50: #f4f7fb;
  --black-pearl-100: #e8edf6;
  --black-pearl-200: #cbdbec;
  --black-pearl-300: #9dbcdc;
  --black-pearl-400: #6998c7;
  --black-pearl-500: #467cb1;
  --black-pearl-600: #346195;
  --black-pearl-700: #2b4e79;
  --black-pearl-800: #274365;
  --black-pearl-900: #253a55;
  --black-pearl-950: #111a27;
}
